@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Ref: https://gist.github.com/wzup/ee78c8eb3b39e91e8e124e7ac5073940
 */
:root {
  --font-family-sans: Verdana, sans-serif;
  --font-family-serif: Georgia, serif;
  --font-strong: bold;
  --white:    #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black:    #000;
  --link: #1a0dab;
  --link-visited: var(--link);
  --link-hover: #1a0dab;
  --link-active: var(--hover);
  --primary-text: var(--black);
  --secondary-text: #111;
  --border-color: var(--gray-300);
  --background-color: var(--white);
  --heading-color: var(--primary-text);
  --text-color: var(--secondary-text); }

[data-theme="dark"] {
  --white: #d5d6d6;
  --gray-100: #1d1f21;
  --gray-200: #292c2f;
  --gray-300: #495057;
  --gray-400: #6c757d;
  --gray-500: #adb5bd;
  --gray-600: #ced4da;
  --gray-700: #dee2e6;
  --gray-800: #e9ecef;
  --gray-900: #f8f9fa;
  --black: #121212;
  --link: #61b1d5;
  --link-hover: #61b1d5;
  --primary-text: var(--white);
  --secondary-text: #c8c9c9;
  --border-color: var(--gray-100);
  --background-color: var(--black);
  --text-color: var(--white);
  --heading-color: #d5d6d6;
  --heading-color: var(--primary-text);
  --text-color: var(--secondary-text); }

/* Dark mode */
*, *::before, *::after {
  box-sizing: border-box; }

:root {
  font-size: 100%; }

body {
  font: 0.875rem/1.5 var(--font-family-sans);
  color: var(--text-color);
  background: var(--background-color); }

a:link, a:visited {
  color: var(--link); }

a:hover, a:active {
  color: var(--link-hover);
  text-decoration: none; }

img {
  max-width: 100%; }

table {
  display: block;
  overflow: auto;
  width: 100%; }

table th {
  text-align: left;
  font-weight: var(--font-strong);
  background-color: var(--gray-100); }

table td,
table th {
  border: 1px solid var(--gray-200);
  padding: 4px 8px; }

code {
  font-size: 11.5pt;
  word-break: break-word;
  font-family: monospace;
  padding: 2px 5px;
  background-color: var(--gray-100);
  border-radius: 2px;
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: keep-all; }

pre {
  word-wrap: normal;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 2px;
  line-height: 1.45;
  overflow: auto;
  padding: 8px 12px; }

pre > code {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-break: normal; }

kbd {
  font-family: monospace;
  background-color: var(--white);
  border: 1px solid var(--gray-400);
  border-bottom-color: var(--gray-500);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--gray-500);
  color: var(--black);
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px 4px 5px;
  vertical-align: middle;
  text-align: center;
  min-width: 1.8em; }
  kbd:not(:last-child) {
    margin-right: .25em; }
  @media (prefers-color-scheme: dark) {
    kbd {
      background-color: var(--gray-800);
      border: 1px solid var(--gray-500);
      border-bottom-color: var(--gray-400);
      box-shadow: inset 0 -1px 0 var(--gray-400); } }

main.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-areas: "header" "nav" "content" "sidebar" "ad" "footer"; }

@media (min-width: 500px) {
  main.wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header  header" "nav     nav" "sidebar content" "ad      footer"; } }

@media (min-width: 700px) {
  main.wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto minmax(0px, max-content) auto auto;
    grid-template-areas: "header  topnav  darkmode" "nav content ad" "sidebar content ad" "footer  footer  footer"; } }

dl {
  display: grid;
  grid-column-gap: 1.125em;
  grid-row-gap: 0;
  grid-template-columns: max-content auto; }

dt {
  grid-column-start: 1; }

dd {
  grid-column-start: 2; }

h1, h2, h3, h4 {
  color: var(--heading-color);
  font-weight: normal; }
  h1.underline, h2.underline, h3.underline, h4.underline {
    overflow: hidden;
    padding-bottom: 0.1em;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(45deg, var(--border-color), var(--background-color));
    border-image-slice: 1; }

h1 {
  font: 1.667rem/1 var(--font-family-serif);
  overflow: hidden;
  padding-bottom: 0.17em;
  border-bottom: 1px solid var(--border-color); }

h2 {
  font: 1.333rem/1 var(--font-family-serif);
  overflow: hidden;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(45deg, var(--border-color), var(--background-color));
  border-image-slice: 1; }

h3 {
  font: 0.917rem/1 var(--font-family-sans);
  font-weight: var(--font-strong); }

strong {
  font-weight: var(--font-strong); }

.bulleted-list ul {
  padding-left: 1.25em;
  list-style-type: none; }

.bulleted-list ul li:before {
  content: "•";
  padding-right: .45em;
  color: var(--text-colok); }

.content {
  grid-area: content;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color); }
  .content ul li {
    word-spacing: 0; }

.content article#main header#header {
  padding: 0.85em; }

.content article#main section#content {
  padding: 0.85em; }
  .content article#main section#content p {
    font: 1.083rem/1.5 var(--font-family-serif); }
  .content article#main section#content p + p {
    margin-top: .75em; }
  .content article#main section#content p + h2 {
    margin-top: 1.25em; }
  .content article#main section#content p + h3 {
    margin-top: 1.25em; }
  .content article#main section#content p + pre {
    margin-top: .55em; }
  .content article#main section#content pre + p {
    margin-top: .95em; }
  .content article#main section#content p + .highlight {
    margin-top: .55em; }
  .content article#main section#content .highlight + p {
    margin-top: .95em; }
  .content article#main section#content p + table {
    margin-top: .75em; }
  .content article#main section#content table + p {
    margin-top: .75em; }
  .content article#main section#content h2 + table {
    margin-top: .75em; }
  .content article#main section#content h2, .content article#main section#content h3 {
    margin-bottom: .55rem; }
  .content article#main section#content h2 + pre,
  .content article#main section#content h3 + dl,
  .content article#main section#content h2 + ol,
  .content article#main section#content h2 + table,
  .content article#main section#content h3 + table,
  .content article#main section#content h2 + .highlight,
  .content article#main section#content h3 + pre,
  .content article#main section#content h3 + .highlight {
    margin-top: .55em; }
  .content article#main section#content h2 + h3,
  .content article#main section#content pre + h2,
  .content article#main section#content dl + h3,
  .content article#main section#content table + h2,
  .content article#main section#content table + h3,
  .content article#main section#content ol + h2,
  .content article#main section#content .highlight + h2,
  .content article#main section#content pre + h3,
  .content article#main section#content .highlight + h3 {
    margin-top: 1.25em; }

.content article#main footer#footer {
  border-top: 1px solid var(--border-color); }

.content article#main footer#footer #meta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "category  words tags";
  padding: 0.85em; }
  .content article#main footer#footer #meta #meta__category {
    display: inline-flex;
    flex-direction: row;
    grid-area: category; }
    .content article#main footer#footer #meta #meta__category ul {
      padding: 0; }
      .content article#main footer#footer #meta #meta__category ul li {
        display: inline-block;
        word-spacing: 0; }
      .content article#main footer#footer #meta #meta__category ul li:not(:last-child):after {
        padding: 0 0.125em;
        color: var(--border-color);
        content: "|"; }
  .content article#main footer#footer #meta #meta__words {
    text-align: center;
    grid-area: words; }
  .content article#main footer#footer #meta #meta__tags {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: tags; }
    .content article#main footer#footer #meta #meta__tags ul {
      padding: 0; }
      .content article#main footer#footer #meta #meta__tags ul li {
        display: inline-block;
        word-spacing: 0; }
      .content article#main footer#footer #meta #meta__tags ul li:not(:last-child):after {
        padding: 0 0.125em;
        color: var(--border-color);
        content: "/"; }

.content article#main footer#footer #nav {
  border-top: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; }
  .content article#main footer#footer #nav #nav__prev {
    padding: 0.85em;
    border-right: 1px solid var(--border-color); }
    .content article#main footer#footer #nav #nav__prev #arrow {
      margin: 0 .4em 0 0; }
  .content article#main footer#footer #nav #nav__next {
    padding: 0.85em;
    direction: rtl; }
    .content article#main footer#footer #nav #nav__next #arrow {
      margin: 0 0 0 .4em; }

#homepage #wrapper {
  margin-top: 1.7em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "category category category category" "category category category category"; }

#homepage #homepage-categories {
  grid-area: category; }

#homepage #homepage-categories__list {
  display: grid;
  grid-gap: 1.5em 1em;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em; }

#homepage .homepage-categories__list_item:not(:nth-child(3)) {
  overflow: hidden;
  border-right: 1px solid;
  border-image-source: linear-gradient(180deg, var(--border-color), var(--background-color));
  border-image-slice: 1;
  padding-bottom: 0.1em; }

#notes {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "list latest" "list latest"; }

#notes #notes__list {
  grid-area: list;
  overflow: hidden;
  border-right: 1px solid;
  border-image-source: linear-gradient(180deg, var(--border-color), var(--background-color));
  border-image-slice: 1;
  padding-bottom: 0.1em; }

#notes #notes__latest {
  grid-area: latest; }
  #notes #notes__latest #notes__latest_list ol {
    list-style-position: inside;
    list-style-type: decimal; }

.main-head {
  padding: 0.85em;
  grid-area: header;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color); }

.main-nav {
  padding: 0.85em;
  grid-area: nav;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  background-color: var(--gray-100);
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.topnav {
  grid-area: topnav;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content; }

.topnav .topnav__links {
  padding: 0.85em;
  border-right: 1px solid var(--border-color); }
  .topnav .topnav__links ul {
    padding: 0; }
    .topnav .topnav__links ul li {
      display: inline-block;
      word-spacing: 0; }
    .topnav .topnav__links ul li:not(:last-child):after {
      padding: 0 0.125em;
      color: var(--border-color);
      content: "|"; }

.topnav .topnav__cat {
  padding: 0.85em; }
  .topnav .topnav__cat ul {
    padding: 0; }
    .topnav .topnav__cat ul li {
      display: inline-block;
      word-spacing: 0; }
    .topnav .topnav__cat ul li:not(:last-child):after {
      padding: 0 0.125em;
      color: var(--border-color);
      content: "|"; }

.content {
  grid-area: content;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color); }
  .content ul li {
    word-spacing: 0; }

.content article#main header#header {
  padding: 0.85em; }

.content article#main section#content {
  padding: 0.85em; }
  .content article#main section#content p {
    font: 1.083rem/1.5 var(--font-family-serif); }
  .content article#main section#content p + p {
    margin-top: .75em; }
  .content article#main section#content p + h2 {
    margin-top: 1.25em; }
  .content article#main section#content p + h3 {
    margin-top: 1.25em; }
  .content article#main section#content p + pre {
    margin-top: .55em; }
  .content article#main section#content pre + p {
    margin-top: .95em; }
  .content article#main section#content p + .highlight {
    margin-top: .55em; }
  .content article#main section#content .highlight + p {
    margin-top: .95em; }
  .content article#main section#content p + table {
    margin-top: .75em; }
  .content article#main section#content table + p {
    margin-top: .75em; }
  .content article#main section#content h2 + table {
    margin-top: .75em; }
  .content article#main section#content h2, .content article#main section#content h3 {
    margin-bottom: .55rem; }
  .content article#main section#content h2 + pre,
  .content article#main section#content h3 + dl,
  .content article#main section#content h2 + ol,
  .content article#main section#content h2 + table,
  .content article#main section#content h3 + table,
  .content article#main section#content h2 + .highlight,
  .content article#main section#content h3 + pre,
  .content article#main section#content h3 + .highlight {
    margin-top: .55em; }
  .content article#main section#content h2 + h3,
  .content article#main section#content pre + h2,
  .content article#main section#content dl + h3,
  .content article#main section#content table + h2,
  .content article#main section#content table + h3,
  .content article#main section#content ol + h2,
  .content article#main section#content .highlight + h2,
  .content article#main section#content pre + h3,
  .content article#main section#content .highlight + h3 {
    margin-top: 1.25em; }

.content article#main footer#footer {
  border-top: 1px solid var(--border-color); }

.content article#main footer#footer #meta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "category  words tags";
  padding: 0.85em; }
  .content article#main footer#footer #meta #meta__category {
    display: inline-flex;
    flex-direction: row;
    grid-area: category; }
    .content article#main footer#footer #meta #meta__category ul {
      padding: 0; }
      .content article#main footer#footer #meta #meta__category ul li {
        display: inline-block;
        word-spacing: 0; }
      .content article#main footer#footer #meta #meta__category ul li:not(:last-child):after {
        padding: 0 0.125em;
        color: var(--border-color);
        content: "|"; }
  .content article#main footer#footer #meta #meta__words {
    text-align: center;
    grid-area: words; }
  .content article#main footer#footer #meta #meta__tags {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: tags; }
    .content article#main footer#footer #meta #meta__tags ul {
      padding: 0; }
      .content article#main footer#footer #meta #meta__tags ul li {
        display: inline-block;
        word-spacing: 0; }
      .content article#main footer#footer #meta #meta__tags ul li:not(:last-child):after {
        padding: 0 0.125em;
        color: var(--border-color);
        content: "/"; }

.content article#main footer#footer #nav {
  border-top: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; }
  .content article#main footer#footer #nav #nav__prev {
    padding: 0.85em;
    border-right: 1px solid var(--border-color); }
    .content article#main footer#footer #nav #nav__prev #arrow {
      margin: 0 .4em 0 0; }
  .content article#main footer#footer #nav #nav__next {
    padding: 0.85em;
    direction: rtl; }
    .content article#main footer#footer #nav #nav__next #arrow {
      margin: 0 0 0 .4em; }

.side {
  grid-area: sidebar;
  border: 1px solid var(--border-color);
  padding: 0.85em;
  display: flex;
  flex-direction: column; }
  .side section + section {
    margin-top: 1em; }
  .side #side__recent ol {
    list-style-position: inside;
    list-style-type: decimal; }
  .side h4 {
    margin-bottom: .35em; }

.ad {
  grid-area: ad;
  padding: 0.85em;
  border: 1px solid var(--border-color); }

#darkmode {
  grid-area: darkmode;
  padding: 0.85em;
  border-left: 1px solid var(--border-color); }

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center; }

.theme-switch {
  display: inline-block;
  height: 1.5em;
  position: relative;
  width: 3em; }

.theme-switch input {
  display: none; }

.slider {
  color: var(--text-color);
  background-color: var(--gray-200);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .1s; }

.slider:before {
  background-color: #fff;
  top: .45em;
  bottom: .5em;
  left: .4em;
  content: "";
  height: 10px;
  position: absolute;
  transition: .1s;
  width: 10px; }

input:checked + .slider {
  background-color: var(--gray-200); }

input:checked + .slider:before {
  background-color: var(--gray-400);
  transform: translateX(1.4em); }

.slider.round {
  border-radius: 2px; }

.slider.round:before {
  border-radius: 2px; }

.main-footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content; }

.main-footer .main-footer__nav {
  padding: 0.85em; }
  .main-footer .main-footer__nav ul {
    padding: 0; }
    .main-footer .main-footer__nav ul li {
      display: inline-block;
      word-spacing: 0; }
    .main-footer .main-footer__nav ul li:not(:last-child):after {
      padding: 0 0.125em;
      color: var(--border-color);
      content: "|"; }
